html{
  background-color: none;
}
body {

  position: absolute;
  top: 0;
  background-color: #cccccc;
  height: 100%;

  /* display: none; */
}

.wrap{


}

.hide>span {
  font-family: "StudioProTrial-MediumItalic";
}

.main, .mini {
  white-space: pre-wrap;
  font-family: "StudioProTrial-Medium";
  color: white;
}

.main{
    padding-top: 12px;
}

@font-face {
  font-family: StudioProTrial-Medium;
  src: url(assets/StudioProTrial-Medium.otf);
  font-weight: 200;
}

@font-face {
  font-family: StudioProTrial-MediumItalic;
  src: url(assets/StudioProTrial-MediumItalic.otf);
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.alliance {
  transition: 1s;
  position: relative;
  display: inline;
  margin-left: -40px;
}

#hide{
  text-indent: -40px;
}

/* #hide{
  display: none;
  transition: 0.5s;
}

.show{
  display: block;
} */
.cursor {
  cursor: pointer;
}

.cursor:hover .italic_hover {
  font-style: italic;
}

.italic_hover:hover {
  font-style: italic;
}

@media only screen and (max-width: 430px) {
  .main-size, .mini-size {
    font-size: 15px;
  }
  .main, .mini {
    padding-left: 10px;
    padding-right: 20px;
  }


}

@media only screen and (min-width: 430px) {
  .main-size {
    font-size: 16px;
    line-height: 18px;
  }

  .mini-size {
    font-size: 16px;
    line-height: 18px;
  }

  body{
    overflow-y: scroll;
}

.main, .mini {
  padding-left: 10px;
  padding-right: 20px;
}





}

@media only screen and (min-width: 618px) {
  /* .main-size {
    font-size: 16px;
    line-height: 18px;
  }

  .mini-size {
    font-size: 16px;
    line-height: 18px;
  } */

  .wrap{
    width: 100vw;
  }

  body{
    overflow-y:hidden;
}

.main, .mini {
  padding-left: 20px;
  padding-right: 20px;

}

.alliance{
  margin-left: 0px;
}

#hide{
  text-indent: 0px;
}


}


@media only screen and (min-width: 1220px) {
  .wrap{
    width: 52.5vw;
  }


  .main-size {
    font-size: 20px;
    line-height: 22px;
  }

  .mini-size {
    font-size: 20px;
    line-height: 22px;
  }



}
