body{
  background-color: #dadada;
    /* display: none; */
}

.hide > span{
  font-family: "StudioProTrial-MediumItalic";
}


.main, .mini{
  white-space: pre-wrap;
  font-family: "StudioProTrial-Medium";
  padding: 12px;
  color: white;
}

@font-face {
  font-family: StudioProTrial-Medium;
  src: url(assets/StudioProTrial-Medium.otf);
  font-weight: 200;
}

@font-face {
  font-family: StudioProTrial-MediumItalic;
  src: url(assets/StudioProTrial-MediumItalic.otf);
  font-weight: 200;
}


a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

.alliance{
  transition: 1s;
  position: relative;
  display: inline;


}





/* #hide{
  display: none;
  transition: 0.5s;
}

.show{
  display: block;
} */





  .main-size, .mini-size{
    font-size: 15px;


  }



  .cursor{
    cursor: pointer;
  }

  .cursor:hover{
    font-style: italic;
  }




  @media screen and (min-width: 375px) and (max-width: 618px) {
    .main-size{
      font-size: 30px;

    }

    .mini-size{
      font-size: 15px;

    }


}


@media screen and (min-width: 618px) {


  .main-size{
    font-size: 40px;
    line-height: 42px;

  }

  .mini-size{
    font-size: 20px;
  }


}
